<h2>About Super Rentals</h2>

<p>
  The Super Rentals website was created to explore the wonderful world of Ember.js. This project allows you to imagine travelling the world while traversing of the Ember framework!
</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
