<h1>Welcome the announcement page</h1>

<ul>
  {{#each model.announcements as |announcement|}}

{{/each}}
</ul>

{{new-announcement save5="save6"}}

<br />

{{#link-to 'index' }}Home{{/link-to}} {{#link-to 'about'}}About{{/link-to}} {{#link-to 'contact'}}Contact{{/link-to}}
